*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navigation{
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: auto;
}
.navigation img{
    width: 40px;
}
.navigation_collection{
   margin: auto;
}
.navigation_collection a{
    text-decoration: none;
    color: #242424;
    margin: 0px 15px;
}
.btn1{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #242424;
    margin-left: 200px;
}
.container{
    width: 90%;
    height: 230px;
    margin-top: 30px;
    margin-left: 5%;
    display: flex;
}
.container h1{
    font-size: 50px;
    font-weight: 500;
    width: 500px;
}
.container p{
    color: gray;
    width: 300px;
    margin-top: 20px;
}
.box{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin-left: 480px;
    margin-top: 20px;
    box-shadow: 0px 0px 3px #ddd;
}
.input{
    display: flex;
}
.input input{
    margin: 20px;
    width: 160px;
    height: 35px;
    outline: none;
    border-radius: 6px;
    border: none;
    background-color: rgb(241, 236, 236);
}

.searchbar{
    width: 90%;
    margin: auto;
    background-color:#ddd;
    height: 35px;
    border-radius: 6px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}
.searchbar input{
    border: none;
    background-color: #ddd;
    outline: none;
    text-indent: 20px;
}
.searchbar button{
    width: 50px;
    height: 33px;
    border-radius: 6px;
    background-color: #1a73e8;
    border: none;
    color: #fff;
}
.banner{
    width: 90%;
    height:450px;
    background-color: red;
    margin: auto;
    display: flex;
}

.box2{
    width: 69%;
    height: 100%;
    background-image: url("./Image.png");
    background-size: cover;
}
.top{
    
}